# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtual environment
.venv/
venv/
env/

# Build output
build/
dist/
*.spec

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# PyInstaller
*.manifest

# Local config / sensitive
.env
config.local.*